<app-nav-front></app-nav-front>
 <section class="vh-20 " style="background-color: #eee;">
    <div class="container h-100" >
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                  <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>
                    <form #f="ngForm" class="mx-1 mx-md-4" novalidate [formGroup]="registerForm">
                      <div class="d-flex flex-row align-items-center mb-4">
                      <div class="form-outline flex-fill mb-0">
                        <input type="text" id="form3Example1c" placeholder="Nom" formControlName="nom"  name="nom" registerForm class="form-control" [ngClass]="{
                            'is-invalid':
                              registerForm.get('nom')?.touched &&
                              !registerForm.get('nom')?.valid
                          }" ngModel />               
                        <div class="invalid-feedback">
                            <span *ngIf="registerForm.get('nom')?.errors?.['required']">
                              Entrez votre nom (Obligatoire)
                            </span>
                            <span *ngIf="registerForm.get('nom')?.errors?.['maxlength']">
                              Maxnimum 20 charactères
                            </span>
                            <span *ngIf="registerForm.get('nom')?.errors?.['minlength']">
                              Minimum 2 charactères
                            </span>
                          </div>
                      </div>          
                    </div>
                    <div class="d-flex flex-row align-items-center mb-4">
                      <div class="form-outline flex-fill mb-0">
                        <input type="text" id="form3Example1c" placeholder="Prenom" name="prenom" ngForm registerForm formControlName="prenom" class="form-control" [ngClass]="{
                            'is-invalid':
                              registerForm.get('prenom')?.touched &&
                              !registerForm.get('prenom')?.valid
                          }" />
                        <div class="invalid-feedback">
                            <span *ngIf="registerForm.get('prenom')?.errors?.['required']">
                              Entrez votre Prenom (Obligatoire)
                            </span>
                            <span *ngIf="registerForm.get('prenom')?.errors?.['maxlength']">
                              Maxnimum 20 charactères
                            </span>
                            <span *ngIf="registerForm.get('prenom')?.errors?.['minlength']">
                              Minimum 2 charactères
                            </span>
                          </div>
                      </div>
                    </div>
                    <div class="d-flex flex-row align-items-center mb-4">
                        <div class="form-outline flex-fill mb-0">
                          <input type="number" id="form3Example1c" placeholder="Cin" name="cin" registerForm formControlName="cin" class="form-control" [ngClass]="{
                              'is-invalid':
                                registerForm.get('cin')?.touched &&
                                !registerForm.get('cin')?.valid
                            }" />
                          <div class="invalid-feedback">
                              <span *ngIf="registerForm.get('cin')?.errors?.['required']">
                                Entrez votre Cin (Obligatoire)
                              </span>
                            </div>
                        </div>
                      </div>
                      <div class="d-flex flex-row align-items-center mb-4">
                        <div class="form-outline flex-fill mb-0">
                          <input type="text" id="form3Example1c" placeholder="adresse" name="adresse"  registerForm formControlName="adresse" class="form-control" [ngClass]="{
                              'is-invalid':
                                registerForm.get('adresse')?.touched &&
                                !registerForm.get('adresse')?.valid
                            }" name="adresse"  />               
                          <div class="invalid-feedback">
                              <span *ngIf="registerForm.get('adresse')?.errors?.['required']">
                                Entrez votre adresse (Obligatoire)
                              </span>
                            </div>
                        </div>          
                      </div>  
                      
                      <div class="d-flex flex-row align-items-center mb-4">
                        <div class="form-outline flex-fill mb-0">
                          <input type="number" id="form3Example1c" placeholder="age" name="age" registerForm formControlName="age" class="form-control" [ngClass]="{
                              'is-invalid':
                                registerForm.get('age')?.touched &&
                                !registerForm.get('age')?.valid
                            }" />
                          <div class="invalid-feedback">
                              <span *ngIf="registerForm.get('cin')?.errors?.['required']">
                                Entrez votre age (Obligatoire)
                              </span>
                            </div>
                        </div>
                      </div>

                      <div class="d-flex flex-row align-items-center mb-4">
                        <div class="form-outline flex-fill mb-0">
                          <input type="number" id="form3Example1c" placeholder="telephone" name="telephone" registerForm formControlName="telephone" class="form-control" [ngClass]="{
                              'is-invalid':
                                registerForm.get('telephone')?.touched &&
                                !registerForm.get('telephone')?.valid
                            }" />
                          <div class="invalid-feedback">
                              <span *ngIf="registerForm.get('telephone')?.errors?.['required']">
                                Entrez votre telephone (Obligatoire)
                              </span>
                            </div>
                        </div>
                      </div>

                      <div class="d-flex flex-row align-items-center mb-4">
                     
                      <div class="form-outline flex-fill mb-0">
                        <input type="email" id="form3Example3c"  placeholder="Votre email" name="mail" ngForm class="form-control" formControlName="mail" class="form-control" [ngClass]="{
                          'is-invalid':
                            registerForm.get('mail')?.touched &&
                            !registerForm.get('mail')?.valid
                        }" />
                        <div class="invalid-feedback">
                          <span *ngIf="registerForm.get('mail')?.errors?.['required']">
                            Entrez votre email (Obligatoire)
                          </span>
                          <span *ngIf="registerForm.get('mail')?.errors?.['email']">
                            please enter a valid email ! 
                          </span>
                      </div>
                      </div>
                    </div>
                    <div class="d-flex flex-row align-items-center mb-4">
                    
                      <div class="form-outline flex-fill mb-0">
                    <fieldset>
                      <div>
                        <input type="radio" id="huey" name="genre" ngForm value="Homme" registerForm formControlName="genre" checked/>
                        <label for="huey">Homme</label>

                        <input type="radio" id="dewey" name="genre" ngForm value="Femme" formControlName="genre" registerForm>
                        <label for="dewey">Femme</label>
                      </div>
                  </fieldset>
                  </div>
                  </div>
                    <div class="d-flex flex-row align-items-center mb-4">
                    
                        <div class="form-outline flex-fill mb-0">
                          <input type="text" id="form3Example3c "name="login" registerForm  placeholder="Login"class="form-control" formControlName="login" class="form-control" [ngClass]="{
                            'is-invalid':
                              registerForm.get('login')?.touched &&
                              !registerForm.get('login')?.valid
                          }" ngModel />
                          <div class="invalid-feedback">
                            <span *ngIf="registerForm.get('login')?.errors?.['required']">
                              Entrez votre login (Obligatoire)
                            </span>
                            <span *ngIf="registerForm.get('login')?.errors?.['maxlength']">
                              Maxnimum 20 charactères
                            </span>
                            <span *ngIf="registerForm.get('login')?.errors?.['minlength']">
                              Minimum 5 charactères
                            </span>
                          </div>
                        </div>
                      </div>
                    <div class="d-flex flex-row align-items-center mb-4">
                      
                      <div class="form-outline flex-fill mb-0">
                        <input type="password" id="form3Example4c" name="password" registerForm class="form-control" placeholder="password" formControlName="password" class="form-control" [ngClass]="{
                          'is-invalid':
                            registerForm.get('password')?.touched &&
                            !registerForm.get('password')?.valid 
                        }" ngModel/>
                      
                        <div class="invalid-feedback">
                          <span *ngIf="registerForm.get('password')?.errors?.['required']">
                            Entrez votre login (Obligatoire)
                          </span>
                          <span *ngIf="registerForm.get('password')?.errors?.['maxlength']">
                            Maxnimum 25 charactères
                          </span>
                          <span *ngIf="registerForm.get('password')?.errors?.['minlength']">
                            Minimum 6 charactères
                          </span>
                       <!--    <span *ngIf="registerForm.get('password')?.errors?.['pattern']">
                            password contient des caractères spéciaux
                          </span> -->
                        </div>
                      </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-4">
                     
                     		<input type="password" class="form-control" formControlName="confirmPassword" placeholder="Confirm password" registerForm> 
		<div *ngIf="registerForm.get('confirmPassword')?.errors" class="alert alert-danger small">
			<div *ngIf="registerForm.get('confirmPassword')?.errors?.['required']"></div>

			<div *ngIf="registerForm.get('confirmPassword')?.errors?.['confirmPasswordValidator']">
				Confirm Password didn't match. </div>
		</div>
    
	</div>
  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                      <button type="submit" class="btn btn-primary btn-lg" [disabled]="!registerForm.valid" (click)="add(f.value)" routerLink="/login">Register</button>
                    </div>
                  </form>
  
                </div>
                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                  <img src="/assets/imagesf/aventure.jpg"
                    class="img-fluid" alt="Sample image">
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  



<app-footer-front></app-footer-front>